<h2 class="sub-header">A place to share, trade, and talk about the music that you love.</h2>

<nav>
<a href="/">Home</a>
<a href="/collection">MyCollection</a>
<a href="/profile">Profile</a>
<a href="/messages">Messages</a>
<a href="/map">Map</a>
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
</nav>

<div class="search-box">
<h1 class="main-search">Search Releases: </h1>
<form class="main-search" method="GET" action='/search'>
<input id="text-field" type="text" name="search" placeholder="Search Here">
<input id="search-button" type="submit" value="Search">
</form>
</div>

<section class="search-results">
<img id="artist-img" src=<%= results[0].cover_image %>>
<p class="artist-name"><%= results[0].title %></p> <br>
<% for (let i = 1; i < results.length; i++) {%>
<div class="results-img-box-main"><img id="result-img" src=<%= results[i].cover_image %>></div>
<p><%= results[i].title %></p> <br>
<p><%= results[i].label %></p> <br>
<p><%= results[i].year %></p> <br>
<p><%= results[i].style  %></p> <br>
<form method="POST" action="/search">
<input hidden type="text" name="artist" value="<%= results[i].title %>">
<input hidden type="text" name="genre" value="<%= results[i].style %>">
<input hidden type="text" name="year" value="<%= results[i].year %>">
<input hidden type="text" name="label" value="<%= results[i].label %>">
<input hidden type="text" name="title" value="<%= results[i].title %>">
<input hidden type="text" name="imgUrl" value="<%= results[i].cover_image %>">

<button class="btn-main" type="submit">Add to Your Collection</button>
</form>
<%}%>
</section>