<span class="logo-img">
    <img id="logo"src="/img/record-ex.png">
</span>
<h2 class="sub-header">A place to share, trade, and talk about the music that you love.</h2>
<span class="logo-img">
    <img id="logo2"src="/img/record-ex.png">
</span>
<nav>
    <a href="/">Home</a>
    <a href="/collection">MyCollection</a>
    <a href="/profile">Profile</a>
    <a href="/trade">MyTrade</a>
    <a href="/messages">Messages</a>
    <a href="/users">Users</a>
    <a href="/map">Map</a>
</nav>

<h1 class="trade-head">TRADE SELECTIONS:</h1>


<%releases.forEach(function(release) {%>
<section class="trade-album-img">
<img class="result-img" src = <%=release.release.imgUrl%>>
<p><%=release.release.title%></p>
<p> <%= release.release.year %> <br> </p>
<% let label = release.release.label %>
<% let splitLab = label.split(',')%>
<p> <%= splitLab[0]%> </p>

<h4>User Note:</h4>
<p><%= release.userRelease.comment %> </p>
</section>
<%})%>




