<span class="logo-img">
    <img id="logo"src="/img/record-ex.png">
</span>
<h2 class="sub-header">A place to share, trade, and talk about the music that you love.</h2>
<span class="logo-img">
    <img id="logo2"src="/img/record-ex.png">
</span>
<nav>
    <a href="/">Home</a>
    <a href="/collection">MyCollection</a>
    <a href="/profile">Profile</a>
    <a href="/trade">MyTrade</a>
    <a href="/messages">Messages</a>
    <a href="/users">Users</a>
    <a href="/map">Map</a>
</nav>

<h1 class="trade-head">TRADE SELECTIONS:</h1>

    <img class="result-img" src = <%=release.imgUrl%>>
    <h4><%=release.title%></h4>
    <%= release.year %> <br>
    <%let label = release.label%>
    <% let splitLab = label.split(',')%>
    <%= splitLab[0] %>

<% for(let i=0;i<tradeables.length;i++) {%>
    <h4>User Note:</h4>
    <p><%= tradeables[i].comment %></p>
<%}%>


