<span class="logo-img">
    <img id="logo"src="/img/record-ex.png">
</span>
<h2 class="sub-header">A place to share, trade, and talk about the music that you love.</h2>
<span class="logo-img">
    <img id="logo2"src="/img/record-ex.png">
</span>

<nav>
    <a href="/">Home</a>
    <a href="/collection">MyCollection</a>
    <a href="/trade">MyTrade</a>
    <a href="/profile">Profile</a>
    <a href="/messages">Messages</a>
    <a href="/users">Users</a>
    <a href="/map">Map</a>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/login">Login</a>
</nav>
<h1 class="page-name"> Community </h1>

<main class="user-main">
<% photos.forEach(function(photo, i) {%>
<section class="user-pic-box">
    <img class="user-pic" src="<%= photo.link %>">
</section>
<div id="userModal<%= i %>" class="new-modal">
<div class="modal-content-user">
<div class="modal-header-user">
    <span class="user-close">&times;</span>
    <h2><%= photo.user.name %></h2>
</div>
<div class="modal-body-user">
    <p data-target="userModal<%=i%>"><%= photo.user.location %> <br>
    <p> <%= photo.user.email %> </p>
</div>
<div class="modal-footer-user">
    <a href="/messages"><button id="send-msg"> Send a Message </button></a>
</div>
</div>
</div>
    <%})%>
</main>

<footer>
    <p>Created by Garrett Moore using the Discogs API &copy; 2019</p>
</footer>

<script src="/js/users.js"></script>